# https://zenn.dev/cloud_ace/articles/7fe428ac4f25c8
name: deploy-gc-cloudrun

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  detect-changed-functions:
    runs-on: ubuntu-latest
    outputs:
      functions: ${{ steps.set-functions.outputs.functions }}
    steps:
      - uses: actions/checkout@v3
        with:
          # 全履歴を取得する
          fetch-depth: 0

      - id: set-functions
        name: Detect Changed Functions
        # 差分から変更された関数ディレクトリ名を抽出
        # mainブランチとの比較（用途によっては^1などに変更）
        run: |
          functions=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep '^src/functions/' | cut -d/ -f3 | sort | uniq | jq -R -s -c 'split("\n") | map(select(. != ""))')
          echo "changed functions are $functions"
          echo "functions=$functions" >> "$GITHUB_OUTPUT"

  not-deploy-gc-cloudrun:
    runs-on: ubuntu-latest
    needs: detect-changed-functions
    if: needs.detect-changed-functions.outputs.functions == '[]' || needs.detect-changed-functions.outputs.functions == ''
    steps:
      - name: Not Deploy
        run: |
          echo "No changes detected"

  deploy-gc-cloudrun:
    runs-on: ubuntu-latest
    needs: detect-changed-functions
    if: needs.detect-changed-functions.outputs.functions != '[]' && needs.detect-changed-functions.outputs.functions != ''
    strategy:
      matrix:
        service: ${{ fromJson(needs.detect-changed-functions.outputs.functions) }}

    permissions:
      id-token: write
      contents: read

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: ${{ secrets.GC_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GC_SERVICE_ACCOUNT }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          version: '>= 379.0.0'

      # - name: Build and Push Docker image for ${{ matrix.service }}
      #   run: |
      #     IMAGE_URI=gcr.io/${{ secrets.GC_PROJECT_ID }}/${{ matrix.service }}:${GITHUB_SHA}
      #     gcloud builds submit src/functions/${{ matrix.service }} --tag $IMAGE_URI
      # IMAGE_URI=gcr.io/${{ secrets.GC_PROJECT_ID }}/${{ matrix.service }}:${GITHUB_SHA}

      # https://cloud.google.com/run/docs/deploy-functions?hl=ja
      - name: Deploy ${{ matrix.service }} to Cloud Run
        run: |
          gcloud run deploy ${{ matrix.service }} \
            --source src/functions/${{ matrix.service }} \
            --function main \
            --base-image python313 \
            --region ${{ secrets.GC_REGION }} \
            --project ${{ secrets.GC_PROJECT_ID }} \
            --min-instances 1 \
            --max-instances 1 \
            --ingress internal \
            --memory 512Mi \
            --cpu 1 \
            --execution-environment gen2 \
            --timeout 300 \
            --concurrency 3 \
            --cpu-boost
