name: deploy-gc-cloudrun

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy-gc-cloudrun:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - api-service
          - worker-service

    permissions:
      id-token: write
      contents: read

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: ${{ secrets.GC_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GC_SERVICE_ACCOUNT }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          version: '>= 379.0.0'

      - name: Build and Push Docker image for ${{ matrix.service }}
        run: |
          IMAGE_URI=gcr.io/${{ secrets.GC_PROJECT_ID }}/${{ matrix.service }}:${GITHUB_SHA}
          gcloud builds submit src/functions/${{ matrix.service }} --tag $IMAGE_URI

      - name: Deploy ${{ matrix.service }} to Cloud Run
        run: |
          IMAGE_URI=gcr.io/${{ secrets.GC_PROJECT_ID }}/${{ matrix.service }}:${GITHUB_SHA}
          gcloud run deploy ${{ matrix.service }} \
            --image $IMAGE_URI \
            --region ${{ secrets.GC_REGION }} \
            --project ${{ secrets.GC_PROJECT_ID }} \
            --platform managed \
            --quiet \
            --min-instances 1 \
            --max-instances 1 \
            --ingress internal \
            --memory 512Mi \
            --cpu 1 \
            --execution-environment gen2 \
            --timeout 300 \
            --concurrency 5 \
            --cpu-boost
